<div id="modalTemplates" class="modal">
  <div class="modal-content">
    <h4>{{saveMode ? 'Save Template' : 'Templates'}}</h4>
    <div class="input-field" *ngIf="saveMode">
      <input placeholder="Name" id="newTemplateName" type="text" [(ngModel)]="newTemplateName" (keyup.enter)="saveNewTemplate()">
      <label class="active" for="newTemplateName">New Template</label>
    </div>
    <ul class="collection">
      <li class="collection-item" *ngFor="let tpl of visibleTemplates, index as index">
          <a href="#!" (click)="templateAction(index)">{{ tpl.name }}</a>
          <a v-if="! tpl.system" href="#!" (click)="deleteTemplate(index)" class="secondary-content"><i class="material-icons">delete</i></a>
      </li>
    </ul>
  </div>
</div>
<div id="modalConfirm" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Confirm</h4>
      <p>{{confirmMessage}}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" (click)="confirmComplete(false)" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      <a href="#!" (click)="confirmComplete(true)" class="modal-action modal-close waves-effect waves-green btn-flat ">Confirm</a>
    </div>
  </div>